In [1]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from scipy.stats import shapiro
from scipy.stats import levene
from scipy.stats import bartlett
from scipy.stats import ttest_ind
from pandas import DataFrame
from statsmodels.sandbox.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from Anovalib import my_group_count
from Anovalib import my_tukey_hsd
from Anovalib import my_bonferroni

from pandas import concat

# 8)

In [2]:
df8 = DataFrame({
    'diet' : [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'cage' : [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    '체중변화' :[1.5, 1.4, 1.4, 1.2, 1.4, 2.7, 2.9, 2.1, 3.0, 3.3, 2.1, 2.2, 2.4, 2.0, 2.5, 1.3, 1.0, 1.1, 1.3, 1.5]
})
df8 = concat([df8, df8])
df8

    diet  cage  체중변화
0      1     1   1.5
1      1     2   1.4
2      1     3   1.4
3      1     4   1.2
4      1     5   1.4
5      2     1   2.7
6      2     2   2.9
7      2     3   2.1
8      2     4   3.0
9      2     5   3.3
10     3     1   2.1
11     3     2   2.2
12     3     3   2.4
13     3     4   2.0
14     3     5   2.5
15     4     1   1.3
16     4     2   1.0
17     4     3   1.1
18     4     4   1.3
19     4     5   1.5
0      1     1   1.5
1      1     2   1.4
2      1     3   1.4
3      1     4   1.2
4      1     5   1.4
5      2     1   2.7
6      2     2   2.9
7      2     3   2.1
8      2     4   3.0
9      2     5   3.3
10     3     1   2.1
11     3     2   2.2
12     3     3   2.4
13     3     4   2.0
14     3     5   2.5
15     4     1   1.3
16     4     2   1.0
17     4     3   1.1
18     4     4   1.3
19     4     5   1.5

In [3]:
print(df8['diet'].unique())
print(df8['cage'].unique())

[1 2 3 4]
[1 2 3 4 5]

In [4]:
df8['diet'] = df8['diet'].astype('category')
df8['cage'] = df8['cage'].astype('category')
print(df8['diet'].unique())
print(df8['cage'].unique())

[1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]
[1, 2, 3, 4, 5]
Categories (5, int64): [1, 2, 3, 4, 5]

In [5]:
my_group_count(df8,'체중변화')

group by diet
===================================
      cage  체중변화
diet
1       10    10
2       10    10
3       10    10
4       10    10
-----------------------------------
[O] 집단별 표본수 동일

group by cage
===================================
      diet  체중변화
cage
1        8     8
2        8     8
3        8     8
4        8     8
5        8     8
-----------------------------------
[O] 집단별 표본수 동일

group by ['diet', 'cage']
===================================
           체중변화
diet cage
1    1        2
     2        2
     3        2
     4        2
     5        2
2    1        2
     2        2
     3        2
     4        2
     5        2
3    1        2
     2        2
     3        2
     4        2
     5        2
4    1        2
     2        2
     3        2
     4        2
     5        2
-----------------------------------
[O] 집단별 표본수 동일

- 성별과 전공 요인으로 구분한 각 집단별 표본수는 각각 10과 8로 동일
- 모든 집단별 표본수가 동일하므로, 균형설계자료 -> 이원분산분석 가능

In [6]:
model = ols('체중변화 ~ C(diet) * C(cage)', df8)
fit = model.fit()
anova_lm(fit)

                   df        sum_sq       mean_sq             F         PR(>F)
C(diet)           3.0  1.630700e+01  5.435667e+00  2.019202e+30  5.695189e-295
C(cage)           4.0  7.860000e-01  1.965000e-01  7.299439e+28  2.501486e-281
C(diet):C(cage)  12.0  1.558000e+00  1.298333e-01  4.822954e+28  7.293092e-282
Residual         20.0  5.383976e-29  2.691988e-30           NaN            NaN

### 결과분석
- diet: F(3,20) = 2.019202e+30, p-value < 0.05로 유의미, 즉 diet에 따라 평균에 차이가 난다고 볼 수 있다.
- cage: F(4,20) = 7.299439e+28, p-value < 0.05로 유의미, 즉 cage에 따라 평균에 차이가 난다고 볼 수 있다.
- diet, cage: F(12,20) = 4.822954e+28, p-value < 0.05로 유의미, 즉 diet, cage는 평균과 관련이 있다고 볼 수 있다.

### 결과보고

`체중변화`에 대하여 `diet`와 `cage`를 요인으로 하는 이원분산분석을 실시한 결과, `diet`의 주효과는 유의미하였으며(F(3,20) = 2.019202e+30, p-value < 0.05) <br> `cage`의 주효과는 유의미하였으며(F(4,20) = 7.299439e+28, p-value < 0.05)<br> `diet`와 `cage` 요인은 유의미한 상호작용효과를 가진다.(F(12,20) = 4.822954e+28, p-value < 0.05)

In [7]:
my_tukey_hsd(df8,'체중변화')

NaN result encountered.

NaN result encountered.

NaN result encountered.
diet:1 Multiple Comparison of Means - Tukey HSD, FWER=0.05
================================================
group1 group2 meandiff p-adj  lower upper reject
------------------------------------------------
     1      2     -0.1  0.001  -0.1  -0.1   True
     1      3     -0.1  0.001  -0.1  -0.1   True
     1      4     -0.3  0.001  -0.3  -0.3   True
     1      5     -0.1  0.001  -0.1  -0.1   True
     2      3      0.0 0.5566   0.0   0.0  False
     2      4     -0.2  0.001  -0.2  -0.2   True
     2      5      0.0 0.5566   0.0   0.0  False
     3      4     -0.2  0.001  -0.2  -0.2   True
     3      5      0.0 0.5566   0.0   0.0  False
     4      5      0.2  0.001   0.2   0.2   True
------------------------------------------------

diet:2 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      0.2 0.001   0.2   0.2   True
     1      3     -0.6 0.001  -0.6  -0.6   True
     1      4      0.3 0.001   0.3   0.3   True
     1      5      0.6 0.001   0.6   0.6   True
     2      3     -0.8 0.001  -0.8  -0.8   True
     2      4      0.1 0.001   0.1   0.1   True
     2      5      0.4 0.001   0.4   0.4   True
     3      4      0.9 0.001   0.9   0.9   True
     3      5      1.2 0.001   1.2   1.2   True
     4      5      0.3 0.001   0.3   0.3   True
-----------------------------------------------

diet:3 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      0.1 0.001   0.1   0.1   True
     1      3      0.3 0.001   0.3   0.3   True
     1      4     -0.1 0.001  -0.1  -0.1   True
     1      5      0.4 0.001   0.4   0.4   True
     2      3      0.2 0.001   0.2   0.2   True
     2      4     -0.2 0.001  -0.2  -0.2   True
     2      5      0.3 0.001   0.3   0.3   True
     3      4     -0.4 0.001  -0.4  -0.4   True
     3      5      0.1 0.001   0.1   0.1   True
     4      5      0.5 0.001   0.5   0.5   True
-----------------------------------------------


NaN result encountered.
diet:4 Multiple Comparison of Means - Tukey HSD, FWER=0.05
================================================
group1 group2 meandiff p-adj  lower upper reject
------------------------------------------------
     1      2     -0.3  0.001  -0.3  -0.3   True
     1      3     -0.2  0.001  -0.2  -0.2   True
     1      4      0.0 0.5566   0.0   0.0  False
     1      5      0.2  0.001   0.2   0.2   True
     2      3      0.1  0.001   0.1   0.1   True
     2      4      0.3  0.001   0.3   0.3   True
     2      5      0.5  0.001   0.5   0.5   True
     3      4      0.2  0.001   0.2   0.2   True
     3      5      0.4  0.001   0.4   0.4   True
     4      5      0.2  0.001   0.2   0.2   True
------------------------------------------------

cage:1 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      1.2 0.001   1.2   1.2   True
     1      3      0.6 0.001   0.6   0.6   True
     1      4     -0.2 0.001  -0.2  -0.2   True
     2      3     -0.6 0.001  -0.6  -0.6   True
     2      4     -1.4 0.001  -1.4  -1.4   True
     3      4     -0.8 0.001  -0.8  -0.8   True
-----------------------------------------------

cage:2 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      1.5 0.001   1.5   1.5   True
     1      3      0.8 0.001   0.8   0.8   True
     1      4     -0.4 0.001  -0.4  -0.4   True
     2      3     -0.7 0.001  -0.7  -0.7   True
     2      4     -1.9 0.001  -1.9  -1.9   True
     3      4     -1.2 0.001  -1.2  -1.2   True
-----------------------------------------------

cage:3 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      0.7 0.001   0.7   0.7   True
     1      3      1.0 0.001   1.0   1.0   True
     1      4     -0.3 0.001  -0.3  -0.3   True
     2      3      0.3 0.001   0.3   0.3   True
     2      4     -1.0 0.001  -1.0  -1.0   True
     3      4     -1.3 0.001  -1.3  -1.3   True
-----------------------------------------------

cage:4 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      1.8 0.001   1.8   1.8   True
     1      3      0.8 0.001   0.8   0.8   True
     1      4      0.1 0.001   0.1   0.1   True
     2      3     -1.0 0.001  -1.0  -1.0   True
     2      4     -1.7 0.001  -1.7  -1.7   True
     3      4     -0.7 0.001  -0.7  -0.7   True
-----------------------------------------------

cage:5 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     1      2      1.9 0.001   1.9   1.9   True
     1      3      1.1 0.001   1.1   1.1   True
     1      4      0.1 0.001   0.1   0.1   True
     2      3     -0.8 0.001  -0.8  -0.8   True
     2      4     -1.8 0.001  -1.8  -1.8   True
     3      4     -1.0 0.001  -1.0  -1.0   True
-----------------------------------------------

c:\users\junhong\appdata\local\programs\python\python38\lib\site-packages\statsmodels\sandbox\stats\multicomp.py:1291: RuntimeWarning: divide by zero encountered in true_divide
  st_range = np.abs(meandiffs) / std_pairs #studentized range statistic
c:\users\junhong\appdata\local\programs\python\python38\lib\site-packages\statsmodels\sandbox\stats\multicomp.py:1291: RuntimeWarning: invalid value encountered in true_divide
  st_range = np.abs(meandiffs) / std_pairs #studentized range statistic

### 사후분석 결과보고
- 요인들간의 상호작용관계가 유의미함에 따라 사후분석을 진행하였다.
- diet를 고정으로 했을때 일부 cage와 체중변화간의 관계는 유의미 하지 않았다.
- cage를 고정으로 했을때 모든 diet와 체중변화간의 관계는 유의미 하였다.
- cage와 diet간의 상호작용 효과에서 diet가 미치는 영향이 더 큰 것을 알 수 있다.

### 사후분석의 meandiff 결과를 보아 2번 cage에서 식이요법 2번을 사용했을때 평균이 가장 크다고 생각할 수 있다.

# 9)

In [8]:
df9 = DataFrame({'강도' : [580, 568, 570, 550, 530, 579, 546, 575, 599, 1090, 1087, 1085, 1070, 1035, 1000, 1045, 1053, 1066, 1392, 1380, 1386, 1328, 1312, 1299, 867, 904, 889],
                '온도':[100, 100, 100, 100, 100, 100, 100, 100,100, 125, 125, 125, 125, 125, 125, 125, 125, 125, 150, 150, 150, 150, 150, 150, 150, 150, 150],
                '종류':[1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 1, 1, 2, 2, 2, 3, 3, 3]})
df9

      강도   온도  종류
0    580  100   1
1    568  100   1
2    570  100   1
3    550  100   2
4    530  100   2
5    579  100   2
6    546  100   3
7    575  100   3
8    599  100   3
9   1090  125   1
10  1087  125   1
11  1085  125   1
12  1070  125   2
13  1035  125   2
14  1000  125   2
15  1045  125   3
16  1053  125   3
17  1066  125   3
18  1392  150   1
19  1380  150   1
20  1386  150   1
21  1328  150   2
22  1312  150   2
23  1299  150   2
24   867  150   3
25   904  150   3
26   889  150   3

In [9]:
print(df9['온도'].unique())
print(df9['종류'].unique())

[100 125 150]
[1 2 3]

In [10]:
df9['온도'] = df9['온도'].astype('category')
df9['종류'] = df9['종류'].astype('category')
print(df9['온도'].unique())
print(df9['종류'].unique())

[100, 125, 150]
Categories (3, int64): [100, 125, 150]
[1, 2, 3]
Categories (3, int64): [1, 2, 3]

In [11]:
my_group_count(df9,'강도')

group by 온도
===================================
     강도  종류
온도
100   9   9
125   9   9
150   9   9
-----------------------------------
[O] 집단별 표본수 동일

group by 종류
===================================
    강도  온도
종류
1    9   9
2    9   9
3    9   9
-----------------------------------
[O] 집단별 표본수 동일

group by ['온도', '종류']
===================================
        강도
온도  종류
100 1    3
    2    3
    3    3
125 1    3
    2    3
    3    3
150 1    3
    2    3
    3    3
-----------------------------------
[O] 집단별 표본수 동일

- 온도과 종류 요인으로 구분한 각 집단별 표본수는 모두 9로 동일
- 모든 집단별 표본수가 동일하므로, 균형설계자료 -> 이원분산분석 가능

In [12]:
model = ols('강도 ~ C(온도) * C(종류)', df9)
fit = model.fit()
anova_lm(fit)

               df        sum_sq        mean_sq            F        PR(>F)
C(온도)         2.0  1.970335e+06  985167.259259  2695.259499  5.008957e-23
C(종류)         2.0  1.508645e+05   75432.259259   206.370554  3.886026e-13
C(온도):C(종류)   4.0  2.905517e+05   72637.925926   198.725707  1.254188e-14
Residual     18.0  6.579333e+03     365.518519          NaN           NaN

### 결과분석
- 온도: F(2,18) = 2695.259499, p-value < 0.05로 유의미, 즉 온도에 따라 평균에 차이가 난다고 볼 수 있다.
- 종류: F(2,18) = 206.370554, p-value < 0.05로 유의미, 즉 종류에 따라 평균에 차이가 난다고 볼 수 있다.
- 온도, 종류: F(4,18) = 198.725707, p-value < 0.05로 유의미, 즉 온도, 종류는 평균과 관련이 있다고 볼 수 있다.

### 결과보고

`강도`에 대하여 `온도`와 `종류`를 요인으로 하는 이원분산분석을 실시한 결과, `온도`의 주효과는 유의미하였으며(F(2,18) = 2695.259499, p-value < 0.05) <br> `종류`의 주효과는 유의미하였으며(F(2,18) = 206.370554, p-value < 0.05)<br> `온도`와 `종류` 요인은 유의미한 상호작용효과를 가진다.(F(4,18) = 198.725707, p-value < 0.05)

In [13]:
my_tukey_hsd(df9,'강도')

온도:100  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     1      2 -19.6667 0.5305 -72.8012 33.4678  False
     1      3   0.6667    0.9 -52.4678 53.8012  False
     2      3  20.3333 0.5103 -32.8012 73.4678  False
-----------------------------------------------------

온도:125  Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
group1 group2 meandiff p-adj    lower    upper  reject
------------------------------------------------------
     1      2 -52.3333 0.0523 -105.2908  0.6241  False
     1      3 -32.6667  0.221  -85.6241 20.2908  False
     2      3  19.6667 0.5285  -33.2908 72.6241  False
------------------------------------------------------

온도:150    Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2  meandiff p-adj    lower     upper   reject
---------------------------------------------------------
     1      2     -73.0 0.0017 -108.1909  -37.8091   True
     1      3 -499.3333  0.001 -534.5242 -464.1424   True
     2      3 -426.3333  0.001 -461.5242 -391.1424   True
---------------------------------------------------------

종류:1  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
   100    125 514.6667 0.001  501.452 527.8814   True
   100    150 813.3333 0.001 800.1186  826.548   True
   125    150 298.6667 0.001  285.452 311.8814   True
-----------------------------------------------------

종류:2  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
   100    125    482.0 0.001 416.6997 547.3003   True
   100    150    760.0 0.001 694.6997 825.3003   True
   125    150    278.0 0.001 212.6997 343.3003   True
-----------------------------------------------------

종류:3   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
group1 group2 meandiff p-adj   lower     upper   reject
-------------------------------------------------------
   100    125 481.3333 0.001  432.0646   530.602   True
   100    150 313.3333 0.001  264.0646   362.602   True
   125    150   -168.0 0.001 -217.2687 -118.7313   True
-------------------------------------------------------

### 사후분석 결과보고
- 요인들간의 상호작용관계가 유의미함에 따라 사후분석을 진행하였다.
- 온도를 100, 125 고정으로 했을때 모든 종류와 강도간의 관계는 유의미 하지 않았다.
- 온도를 150 고정으로 했을때 모든 종류와 강도간의 관계는 유의미 하였다.
- 종류를 고정으로 했을때 모든 온도와 강도간의 관계는 유의미 하였다.
- 이를 미루어 보아 판유리의 모든 종류는 온도와 상호작용을 가지고, 온도가 높을 때 유리의 종류와 온도가 상호작용을 가짐을 알 수 있다.

# 10)

In [14]:
df10 = DataFrame({'수율': [97.6, 97.3, 96.7, 98.6, 98.2, 96.9, 99, 98, 97.9, 98, 97.7, 96.5],
                  '온도': [180, 180, 180, 190, 190, 190, 200, 200, 200, 210, 210, 210],
                  '원료': ['B1', 'B2', 'B3', 'B1', 'B2', 'B3', 'B1', 'B2', 'B3', 'B1', 'B2', 'B3',]})
df10 = concat([df10, df10])

df10

      수율   온도  원료
0   97.6  180  B1
1   97.3  180  B2
2   96.7  180  B3
3   98.6  190  B1
4   98.2  190  B2
5   96.9  190  B3
6   99.0  200  B1
7   98.0  200  B2
8   97.9  200  B3
9   98.0  210  B1
10  97.7  210  B2
11  96.5  210  B3
0   97.6  180  B1
1   97.3  180  B2
2   96.7  180  B3
3   98.6  190  B1
4   98.2  190  B2
5   96.9  190  B3
6   99.0  200  B1
7   98.0  200  B2
8   97.9  200  B3
9   98.0  210  B1
10  97.7  210  B2
11  96.5  210  B3

In [15]:
print(df10['온도'].unique())
print(df10['원료'].unique())

[180 190 200 210]
['B1' 'B2' 'B3']

In [16]:
df10['온도'] = df10['온도'].astype('category')
df10['원료'] = df10['원료'].astype('category')
print(df10['온도'].unique())
print(df10['원료'].unique())

[180, 190, 200, 210]
Categories (4, int64): [180, 190, 200, 210]
['B1', 'B2', 'B3']
Categories (3, object): ['B1', 'B2', 'B3']

In [17]:
my_group_count(df10,'수율')

group by 온도
===================================
     수율  원료
온도
180   6   6
190   6   6
200   6   6
210   6   6
-----------------------------------
[O] 집단별 표본수 동일

group by 원료
===================================
    수율  온도
원료
B1   8   8
B2   8   8
B3   8   8
-----------------------------------
[O] 집단별 표본수 동일

group by ['온도', '원료']
===================================
        수율
온도  원료
180 B1   2
    B2   2
    B3   2
190 B1   2
    B2   2
    B3   2
200 B1   2
    B2   2
    B3   2
210 B1   2
    B2   2
    B3   2
-----------------------------------
[O] 집단별 표본수 동일

- 온도과 원료 요인으로 구분한 각 집단별 표본수는 각각 6, 8로 동일
- 모든 집단별 표본수가 동일하므로, 균형설계자료 -> 이원분산분석 가능

In [18]:
model = ols('수율 ~ C(온도) * C(원료)', df10)
fit = model.fit()
anova_lm(fit)

               df        sum_sq       mean_sq             F         PR(>F)
C(온도)         3.0  4.440000e+00  1.480000e+00  2.763773e+25  2.695262e-149
C(원료)         2.0  6.880000e+00  3.440000e+00  6.423905e+25  6.639155e-151
C(온도):C(원료)   6.0  1.120000e+00  1.866667e-01  3.485840e+24  9.988341e-145
Residual     12.0  6.425998e-25  5.354998e-26           NaN            NaN

### 결과분석
- 온도: F(3,12) = 2.763773e+25, p-value < 0.05로 유의미, 즉 온도에 따라 평균에 차이가 난다고 볼 수 있다.
- 원료: F(2,12) = 6.423905e+25, p-value < 0.05로 유의미, 즉 원료에 따라 평균에 차이가 난다고 볼 수 있다.
- 온도, 종류: F(6,12) = 3.485840e+24, p-value < 0.05로 유의미, 즉 온도, 원료는 평균과 관련이 있다고 볼 수 있다.

### 결과보고
`수율`에 대하여 `온도`와 `원료`를 요인으로 하는 이원분산분석을 실시한 결과, `온도`의 주효과는 유의미하였으며(F(3,12) = 2.763773e+25, p-value < 0.05) <br> `원료`의 주효과는 유의미하였으며(F(2,12) = 6.423905e+25, p-value < 0.05)<br> `온도`와 `원료` 요인은 유의미한 상호작용효과를 가진다.(F(6,12) = 3.485840e+24, p-value < 0.05)

In [19]:
my_tukey_hsd(df10,'수율')

온도:180 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
    B1     B2     -0.3 0.001  -0.3  -0.3   True
    B1     B3     -0.9 0.001  -0.9  -0.9   True
    B2     B3     -0.6 0.001  -0.6  -0.6   True
-----------------------------------------------

온도:190 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
    B1     B2     -0.4 0.001  -0.4  -0.4   True
    B1     B3     -1.7 0.001  -1.7  -1.7   True
    B2     B3     -1.3 0.001  -1.3  -1.3   True
-----------------------------------------------

온도:200 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
    B1     B2     -1.0 0.001  -1.0  -1.0   True
    B1     B3     -1.1 0.001  -1.1  -1.1   True
    B2     B3     -0.1 0.001  -0.1  -0.1   True
-----------------------------------------------

온도:210 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
    B1     B2     -0.3 0.001  -0.3  -0.3   True
    B1     B3     -1.5 0.001  -1.5  -1.5   True
    B2     B3     -1.2 0.001  -1.2  -1.2   True
-----------------------------------------------

원료:B1 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
   180    190      1.0 0.001   1.0   1.0   True
   180    200      1.4 0.001   1.4   1.4   True
   180    210      0.4 0.001   0.4   0.4   True
   190    200      0.4 0.001   0.4   0.4   True
   190    210     -0.6 0.001  -0.6  -0.6   True
   200    210     -1.0 0.001  -1.0  -1.0   True
-----------------------------------------------

원료:B2 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
   180    190      0.9 0.001   0.9   0.9   True
   180    200      0.7 0.001   0.7   0.7   True
   180    210      0.4 0.001   0.4   0.4   True
   190    200     -0.2 0.001  -0.2  -0.2   True
   190    210     -0.5 0.001  -0.5  -0.5   True
   200    210     -0.3 0.001  -0.3  -0.3   True
-----------------------------------------------

원료:B3 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
   180    190      0.2 0.001   0.2   0.2   True
   180    200      1.2 0.001   1.2   1.2   True
   180    210     -0.2 0.001  -0.2  -0.2   True
   190    200      1.0 0.001   1.0   1.0   True
   190    210     -0.4 0.001  -0.4  -0.4   True
   200    210     -1.4 0.001  -1.4  -1.4   True
-----------------------------------------------

c:\users\junhong\appdata\local\programs\python\python38\lib\site-packages\statsmodels\sandbox\stats\multicomp.py:1291: RuntimeWarning: divide by zero encountered in true_divide
  st_range = np.abs(meandiffs) / std_pairs #studentized range statistic

### 사후분석 결과보고
- 요인들간의 상호작용관계가 유의미함에 따라 사후분석을 진행하였다.
- 온도를 고정으로 했을때 모든 원료와 수율간의 관계는 유의미 하였다.
- 원료를 고정으로 했을때 모든 온도와 수율간의 관계는 유의미 하였다.

### B3사의 원료로 190도의 반응 온도를 가지면 가장 큰 수율을 낼 수 있다.

# 11)

In [20]:
df11 = DataFrame({'score': [65, 87, 73, 79, 81, 69, 55, 76, 77, 70, 88, 82, 79, 85, 60, 65, 70, 79, 80, 76, 90, 68, 75, 69, 83, 81, 72, 79, 85, 89, 90, 77, 95, 72, 75, 93, 85, 60, 65, 88, 92, 83, 93, 78],
                  'method': [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2],
                  'subject': ['국어','국어','국어','국어','국어','국어','국어','국어','국어','국어','국어','영어','영어','영어','영어','영어','영어','영어','영어','영어','영어','영어','국어','국어','국어','국어','국어','국어','국어','국어','국어','국어','국어','영어','영어','영어','영어','영어','영어','영어','영어','영어','영어','영어']})
df11

    score  method subject
0      65       1      국어
1      87       1      국어
2      73       1      국어
3      79       1      국어
4      81       1      국어
5      69       1      국어
6      55       1      국어
7      76       1      국어
8      77       1      국어
9      70       1      국어
10     88       1      국어
11     82       1      영어
12     79       1      영어
13     85       1      영어
14     60       1      영어
15     65       1      영어
16     70       1      영어
17     79       1      영어
18     80       1      영어
19     76       1      영어
20     90       1      영어
21     68       1      영어
22     75       2      국어
23     69       2      국어
24     83       2      국어
25     81       2      국어
26     72       2      국어
27     79       2      국어
28     85       2      국어
29     89       2      국어
30     90       2      국어
31     77       2      국어
32     95       2      국어
33     72       2      영어
34     75       2      영어
35     93       2      영어
36     85       2      영어
37     60       2      영어
38     65       2      영어
39     88       2      영어
40     92       2      영어
41     83       2      영어
42     93       2      영어
43     78       2      영어

In [21]:
print(df11['method'].unique())
print(df11['subject'].unique())

[1 2]
['국어' '영어']

In [22]:
df11['method'] = df11['method'].astype('category')
df11['subject'] = df11['subject'].astype('category').cat.rename_categories({'국어': 1, '영어': 2})
print(df11['method'].unique())
print(df11['subject'].unique())

[1, 2]
Categories (2, int64): [1, 2]
[1, 2]
Categories (2, int64): [1, 2]

In [23]:
my_group_count(df11,'score')

group by method
===================================
        score  subject
method
1          22       22
2          22       22
-----------------------------------
[O] 집단별 표본수 동일

group by subject
===================================
         score  method
subject
1           22      22
2           22      22
-----------------------------------
[O] 집단별 표본수 동일

group by ['method', 'subject']
===================================
                score
method subject
1      1           11
       2           11
2      1           11
       2           11
-----------------------------------
[O] 집단별 표본수 동일

- method와 subject으로 구분한 각 집단별 표본수는 모두 22로 동일
- 모든 집단별 표본수가 동일하므로, 균형설계자료 -> 이원분산분석 가능

In [24]:
model = ols('score ~ C(method) * C(subject)', df11)
fit = model.fit()
anova_lm(fit)

                        df       sum_sq     mean_sq         F    PR(>F)
C(method)              1.0   355.113636  355.113636  3.845870  0.056857
C(subject)             1.0     0.204545    0.204545  0.002215  0.962695
C(method):C(subject)   1.0    14.204545   14.204545  0.153835  0.696979
Residual              40.0  3693.454545   92.336364       NaN       NaN

### 결과분석
- 온도: F(1,40) = 3.845870, p-value > 0.05로 유의미하지 않다, 즉 온도에 따라 평균에 차이가 난다고 보기 힘들다.
- 원료: F(1,40) = 0.002215, p-value > 0.05로 유의미하지 않다, 즉 원료에 따라 평균에 차이가 난다고 보기 힘들다.
- 온도, 종류: F(1,40) = 0.153835, p-value > 0.05로 유의미하지 않다, 즉 온도, 원료는 평균과 관련이 있다고 보기 힘들다.

### 결과보고
`score`에 대하여 `method`와 `subject`를 요인으로 하는 이원분산분석을 실시한 결과, `method`의 주효과는 유의미 하지 않았으며(F(1,40) = 3.845870, p-value > 0.05) <br> `원료`의 주효과는 유의미 하지 않았다.(F(1,40) = 0.002215, p-value > 0.05)<br> `온도`와 `원료` 요인은 유의미한 상호작용효과를 가진다고 보기 힘들다.(F(1,40) = 0.153835, p-value > 0.05)

### 따라서 교육방법에 대한 국어와 영어의 효과가 서로 다르다고 보기 힘들다

# 12-1)

In [25]:
df12 = DataFrame({'소음': [78,76,75,79,80,80,81,83,83,74,76,75,78,79,80,79,77,75,75,76,77,78,77,79,79,80,81],
                  '볼베어링': [0,0,0,0,0,0,0,0,0,5,5,5,5,5,5,5,5,5,10,10,10,10,10,10,10,10,10],
                  '진동': [40,40,40,110,110,110,180,180,180,40,40,40,110,110,110,180,180,180,40,40,40,110,110,110,180,180,180]})
df12

    소음  볼베어링   진동
0   78     0   40
1   76     0   40
2   75     0   40
3   79     0  110
4   80     0  110
5   80     0  110
6   81     0  180
7   83     0  180
8   83     0  180
9   74     5   40
10  76     5   40
11  75     5   40
12  78     5  110
13  79     5  110
14  80     5  110
15  79     5  180
16  77     5  180
17  75     5  180
18  75    10   40
19  76    10   40
20  77    10   40
21  78    10  110
22  77    10  110
23  79    10  110
24  79    10  180
25  80    10  180
26  81    10  180

In [26]:
print(df12['볼베어링'].unique())
print(df12['진동'].unique())

[ 0  5 10]
[ 40 110 180]

In [27]:
df12['볼베어링'] = df12['볼베어링'].astype('category')
df12['진동'] = df12['진동'].astype('category')
print(df12['볼베어링'].unique())
print(df12['진동'].unique())

[0, 5, 10]
Categories (3, int64): [0, 5, 10]
[40, 110, 180]
Categories (3, int64): [40, 110, 180]

In [28]:
my_group_count(df12,'소음')

group by 볼베어링
===================================
      소음  진동
볼베어링
0      9   9
5      9   9
10     9   9
-----------------------------------
[O] 집단별 표본수 동일

group by 진동
===================================
     소음  볼베어링
진동
40    9     9
110   9     9
180   9     9
-----------------------------------
[O] 집단별 표본수 동일

group by ['볼베어링', '진동']
===================================
          소음
볼베어링 진동
0    40    3
     110   3
     180   3
5    40    3
     110   3
     180   3
10   40    3
     110   3
     180   3
-----------------------------------
[O] 집단별 표본수 동일

- 볼베어링와 진동으로 구분한 각 집단별 표본수는 모두 9로 동일
- 모든 집단별 표본수가 동일하므로, 균형설계자료 -> 이원분산분석 가능

In [29]:
model = ols('소음 ~ C(볼베어링) * C(진동)', df12)
fit = model.fit()
anova_lm(fit)

                 df     sum_sq    mean_sq          F    PR(>F)
C(볼베어링)         2.0  27.185185  13.592593   9.410256  0.001595
C(진동)           2.0  79.407407  39.703704  27.487179  0.000003
C(볼베어링):C(진동)   4.0  22.814815   5.703704   3.948718  0.017961
Residual       18.0  26.000000   1.444444        NaN       NaN

### 결과분석
- 볼베어링: F(2,18) = 9.410256, p-value < 0.05로 유의미, 즉 온도에 따라 평균에 차이가 난다고 볼 수 있다.
- 진동: F(2,18) = 27.487179, p-value < 0.05로 유의미, 즉 원료에 따라 평균에 차이가 난다고 볼 수 있다.
- 볼베어링, 진동: F(4,18) = 3.948718, p-value < 0.05로 유의미, 즉 온도, 원료는 평균과 관련이 있다고 볼 수 있다.

### 결과보고
`소음`에 대하여 `볼베어링`과 `진동`를 요인으로 하는 이원분산분석을 실시한 결과, `볼베어링`의 주효과는 유의미 하였으며(F(2,18) = 9.410256, p-value < 0.05) <br> `진동`의 주효과는 유의미 하였다.(F(2,18) = 27.487179, p-value < 0.05)<br> `볼베어링`과 `진동` 요인은 유의미한 상호작용효과를 가진다고 볼 수 있다.(F(4,18) = 3.948718, p-value < 0.05)

In [30]:
my_tukey_hsd(df12,'소음')

볼베어링:0 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
    40    110   3.3333 0.0283  0.4439 6.2228   True
    40    180      6.0 0.0017  3.1106 8.8894   True
   110    180   2.6667 0.0671 -0.2228 5.5561  False
---------------------------------------------------

볼베어링:5 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
    40    110      4.0 0.0308  0.4612 7.5388   True
    40    180      2.0  0.269 -1.5388 5.5388  False
   110    180     -2.0  0.269 -5.5388 1.5388  False
---------------------------------------------------

볼베어링:10 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
    40    110      2.0 0.1085 -0.5023 4.5023  False
    40    180      4.0 0.0065  1.4977 6.5023   True
   110    180      2.0 0.1085 -0.5023 4.5023  False
---------------------------------------------------

진동:40 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      5  -1.3333 0.4184 -4.3407 1.6741  False
     0     10  -0.3333    0.9 -3.3407 2.6741  False
     5     10      1.0 0.5913 -2.0074 4.0074  False
---------------------------------------------------

진동:110 Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      5  -0.6667 0.6404 -2.8735 1.5402  False
     0     10  -1.6667 0.1289 -3.8735 0.5402  False
     5     10     -1.0 0.4045 -3.2068 1.2068  False
---------------------------------------------------

진동:180 Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      5  -5.3333 0.0098 -8.9691 -1.6976   True
     0     10  -2.3333 0.2008 -5.9691  1.3024  False
     5     10      3.0  0.098 -0.6358  6.6358  False
----------------------------------------------------

### 사후분석 결과보고
- 요인들간의 상호작용관계가 유의미함에 따라 사후분석을 진행하였다.
- 볼베어링를 고정으로 했을때 일부 진동과 소음의 관계는 유의미 하지 않았다.
- 원료를 고정으로 했을때 대부분의 볼베어링와 소음간의 관계는 유의미 하지 않았다.
- 이를 보아 볼베어링과 진동간의 상호작용 관계에서 진동 요인이 미치는 영향이 더 크다고 볼 수 있다.

# 12-2)

In [31]:
df12 = DataFrame({'소음': [76,75,79,80,80,81,83,83,74,76,75,78,79,80,79,77,75,75,76,77,78,77,79,79,81],
                  '볼베어링': [0,0,0,0,0,0,0,0,5,5,5,5,5,5,5,5,5,10,10,10,10,10,10,10,10],
                  '진동': [40,40,110,110,110,180,180,180,40,40,40,110,110,110,180,180,180,40,40,40,110,110,110,180,180]})
df12

    소음  볼베어링   진동
0   76     0   40
1   75     0   40
2   79     0  110
3   80     0  110
4   80     0  110
5   81     0  180
6   83     0  180
7   83     0  180
8   74     5   40
9   76     5   40
10  75     5   40
11  78     5  110
12  79     5  110
13  80     5  110
14  79     5  180
15  77     5  180
16  75     5  180
17  75    10   40
18  76    10   40
19  77    10   40
20  78    10  110
21  77    10  110
22  79    10  110
23  79    10  180
24  81    10  180

In [32]:
print(df12['볼베어링'].unique())
print(df12['진동'].unique())

[ 0  5 10]
[ 40 110 180]

In [33]:
df12['볼베어링'] = df12['볼베어링'].astype('category')
df12['진동'] = df12['진동'].astype('category')
print(df12['볼베어링'].unique())
print(df12['진동'].unique())

[0, 5, 10]
Categories (3, int64): [0, 5, 10]
[40, 110, 180]
Categories (3, int64): [40, 110, 180]

In [34]:
my_group_count(df12,'소음')

group by 볼베어링
===================================
      소음  진동
볼베어링
0      8   8
5      9   9
10     8   8
-----------------------------------
[X] 집단별 표본수 상이

group by 진동
===================================
     소음  볼베어링
진동
40    8     8
110   9     9
180   8     8
-----------------------------------
[X] 집단별 표본수 상이

group by ['볼베어링', '진동']
===================================
          소음
볼베어링 진동
0    40    2
     110   3
     180   3
5    40    3
     110   3
     180   3
10   40    3
     110   3
     180   2
-----------------------------------
[X] 집단별 표본수 상이

- 집단별 표본수가 상이하기 때문에 anova_lm 함수에 typ = 3 옵션을 넣어준다.

In [35]:
model = ols('소음 ~ C(볼베어링) * C(진동)', df12)
fit = model.fit()
anova_lm(fit, typ=3)

                     sum_sq    df            F        PR(>F)
Intercept      11400.500000   1.0  8354.564885  3.502592e-23
C(볼베어링)            1.500000   2.0     0.549618  5.876870e-01
C(진동)             56.041667   2.0    20.534351  3.817472e-05
C(볼베어링):C(진동)     25.796756   4.0     4.726123  1.039605e-02
Residual          21.833333  16.0          NaN           NaN

### 결과분석
- 볼베어링: F(2, 16) = 0.549618, p-value > 0.05로 유의미 하지 않았다.즉, 볼베어링의 유격 따라 소음에 차이가 난다고 보기 힘들다.
- 진동: F(2,16) = 20.534351, p-value < 0.05로 유의미, 즉 진동에 따라 소음에 차이가 난다고 볼 수 있다.
- 볼베어링, 진동: F(4,16) = 4.726123, p-value < 0.05로 유의미, 즉 볼베어링의 유격, 진동은 상호작용 관계가 있다고 볼 수 있다.

In [36]:
my_bonferroni(df12, '소음')

볼베어링:0 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
    40    110 -7.0003    0.0       0.0   True
    40    180 -4.0555 0.0012    0.0035   True
   110    180 -0.8553 0.4058       1.0  False
---------------------------------------------

볼베어링:5 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
    40    110 -7.0003    0.0       0.0   True
    40    180 -4.0555 0.0012    0.0035   True
   110    180 -0.8553 0.4058       1.0  False
---------------------------------------------

볼베어링:10 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
    40    110 -7.0003    0.0       0.0   True
    40    180 -4.0555 0.0012    0.0035   True
   110    180 -0.8553 0.4058       1.0  False
---------------------------------------------

진동:40 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     0      5  2.1368 0.0495    0.1485  False
     0     10  1.5186 0.1511    0.4534  False
     5     10 -0.7623 0.4577       1.0  False
---------------------------------------------

진동:110 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     0      5  2.1368 0.0495    0.1485  False
     0     10  1.5186 0.1511    0.4534  False
     5     10 -0.7623 0.4577       1.0  False
---------------------------------------------

진동:180 Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     0      5  2.1368 0.0495    0.1485  False
     0     10  1.5186 0.1511    0.4534  False
     5     10 -0.7623 0.4577       1.0  False
---------------------------------------------

### 사후분석 결과보고
- 요인들간의 상호작용관계가 유의미함에 따라 사후분석을 진행하였다.
- 표본의 크기가 상이하기 때문에 봉페르니교정 방법을 사용하였다.
- 볼베어링를 고정으로 했을때 대부분 진동과 소음의 관계는 유의미 하였다.
- 진동를 고정으로 했을때 볼베어링와 소음간의 관계는 유의미 하지 않았다.
- 이를 보아 볼베어링과 진동간의 상호작용 관계에서 진동 요인이 미치는 영향이 더 크다고 볼 수 있다.